@*
    /// ============================================================
    /// Author: Shaun Curtis, Cold Elm Coders
    /// License: Use And Donate
    /// If you use it, donate something to a charity somewhere
    /// ============================================================
*@

@namespace Blazr.ModalDialog.Components
@inherits ModalDialogBase

@if (this.Context.Display)
{
    <CascadingValue Value="(IModalDialogContext)this.Context">
        <div class="base-modal-background" @onclick="OnBackClick">
            <div class="base-modal-content" style="@this.Width" @onclick:stopPropagation="true">
                <DynamicComponent Type=this.Context.ModalContentType Parameters=this.Context.Options?.ControlParameters />
            </div>
        </div>
    </CascadingValue>
}

@code {

    protected string Width 
        => string.IsNullOrWhiteSpace(modalOptions.ModalWidth) ? string.Empty : $"width:{modalOptions.ModalWidth}";
    
    private VanillaModalOptions modalOptions => this.Context.Options as VanillaModalOptions ?? new();
    
    private void OnBackClick()
    {
        if (modalOptions.ExitOnBackgroundClick)
            this.Context.Close(ModalResult.Exit());
    }
}
